@media only screen and (max-width: 1028px) {
    .search-container {
        display: none;
    }
}



/*-------- MEDIA QUERY FOR MENU ITEMS < 800px Screen Size -------*/

@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 100px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: #fff;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
    .search-container {
        display: none;
    }

    #MenuItems {
        display: none;
    }
    
}

/*-------- MEDIA QUERY FOR < 600px Screen Size -------*/

@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
    }
    .col-2, .col-3, .col-4 {
        flex-basis: 90%;
    }
    .col-4 img {
        height: 100%;
        width: 100%;
    }
    .offer img {
        width: auto;
        height: auto;
    }
    #MenuItems {
        display: none;
    }
}
